<li class="grid grid-flow-col">
  <div><%= assignment.description %></div>
  <div><%= link_to 'Ver detalles', assignment, "data-turbo-frame": "_top" %></div>
  <div><%= link_to 'Editar', edit_assignment_path(assignment) %></div>
  <div><%= link_to 'Eliminar', assignment, method: :delete, data: { confirm: 'Esta seguro?' } %></div>
</li>
