<p id="notice"><%= notice %></p>

<h1>Vehiculos</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Año</th>
      <th>Patente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @vehicles %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Vehiculo', new_vehicle_path %>
